<!DOCTYPE html>
<html>
<head>
  <title>Python lambda local server</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <style>
    pre {
        white-space: pre-wrap;       /* Since CSS 2.1 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
    }
  </style>
</head>
<body>
<div id="app">
  <div class="container section">
    <div class="tabs is-fullwidth is-large">
      <ul>
        <li :class="{'is-active': tab === 'event'}" @click="tab = 'event'"><a>Event</a></li>
        <li :class="{'is-active': tab === 'api'}" @click="tab = 'api'"><a>API Gateway</a></li>
      </ul>
    </div>
    <div class="columns">
      <div class="column">
        <h1 class="subtitle">Input</h1>
        <label class="label">Handler</label>
        <div class="field is-grouped">
          <div class="control">
            <input class="input" v-model="handlerFile" placeholder="file">
          </div>
          <div class="control">
            <input class="input" v-model="handlerFunction" placeholder="function">
          </div>
        </div>
        <template v-if="tab === 'event'">
          <div class="field">
            <label class="label">Event</label>
            <div class="control">
              <textarea class="textarea" v-model="event"></textarea>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button class="button is-primary" @click="submitEvent">Submit event</button>
            </div>
          </div>
        </template>
        <template v-else>
          <div class="field">
            <label class="label">Query</label>
            <div class="control">
              <input class="input" v-model="qs">
            </div>
          </div>
          <div class="field">
            <label class="label">Body</label>
            <div class="control">
              <textarea class="textarea" v-model="body"></textarea>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button class="button is-primary" @click="submitApi">Submit API call</button>
            </div>
          </div>
        </template>
      </div>
      <div class="column">
        <h1 class="subtitle">Output</h1>
        <div v-if="loading">Loading...</div>
        <div v-else>
          <div v-if="tab === 'event'">
            {{ this.output }}
          </div>
          <div v-else>
            <ul>
              <li>
                <strong>Status:</strong> {{ this.responseStatusCode }}
              </li>
              <li>
                <strong>Headers:</strong> {{ this.responseHeaders }}
              </li>
              <li v-if="responseBody">
                <strong>Body:</strong>
                <pre>{{ this.responseBody | prettify }}</pre>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var app = new Vue({
    el: '#app',
    data: {
      event: '{}',
      body: '{}',
      qs: '',
      output: '',
      loading: false,
      handlerFile: 'handler',
      handlerFunction: 'handler',
      tab: 'event'
    },
    watch: {
      '$data': {
        handler: function() {
          this.saveState();
        },
        deep: true
      }
    },
    created: function () {
      this.loadState()
    },
    computed: {
      isJsonResponse: function () {
        return this.output && this.output.headers && this.output.headers['Content-Type'] === 'application/json'
      },
      responseBody: function () {
        if(this.isJsonResponse) {
          return JSON.parse(this.output.body)
        } else {
          return this.output && this.output.body
        }
      },
      responseStatusCode: function () {
        return this.output && this.output.statusCode
      },
      responseHeaders: function () {
        return this.output && this.output.headers
      }
    },
    filters: {
      prettify: function(val) {
        return JSON.stringify(val, null, 2);
      }
    },
    methods: {
      saveState: function() {
        localStorage.setItem('lambda-dev', JSON.stringify(this.$data));
      },
      loadState: function() {
        var savedState = localStorage.getItem('lambda-dev');
        var parsedState = savedState ? JSON.parse(savedState) : null;
        if (parsedState) {
          for(var key in parsedState) {
            this[key] = parsedState[key]
          }
        }
      },
      submitEvent: function () {
        return this.submit(this.event)
      },
      submitApi: function () {
        return this.submit({
          body: this.body,
          queryStringParameters: this.qs
        })
      },
      submit: function(eventData) {
        var that = this;
        this.loading = true;
        axios.post('/', {
          event: eventData,
          file: this.handlerFile + '.' + this.handlerFunction
        })
          .then(function(response) { that.output = response.data; that.loading = false; })
          .catch(function(error) { that.output = error.toString(); that.loading = false; })
      }
    }
  })
</script>
</body>
</html>